@import '../variables';
@import '../functions';

.bg {
  &-primary {
    @include set-color($primary-color);
  }
  &-secondary {
    @include set-color($secondary-color);
  }
  &-success {
    @include set-color($success-color);
  }
  &-info {
    @include set-color($info-color);
  }
  &-warning {
    @include set-color($warning-color);
  }
  &-danger {
    @include set-color($danger-color);
  }
  &-dark {
    @include set-color($dark-color);
  }
  &-light {
    @include set-color($light-color);
  }
}
