%container-shared {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  @extend %container-shared;
  &-xs {
    @extend %container-shared;
    max-width: 400px;
  }
  &-s {
    @extend %container-shared;
    max-width: 800px;
  }
  &-m {
    @extend %container-shared;
    max-width: 1200px;
  }
  &-l {
    @extend %container-shared;
    max-width: 1400px;
  }
  &-xl {
    @extend %container-shared;
    max-width: 1800px;
  }
  &-xxl {
    @extend %container-shared;
    max-width: 2200px;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
