.m {
  &-auto {
    margin: auto;
  }
  &-1 {
    margin: 1rem;
  }
  &-2 {
    margin: 2rem;
  }
  &-3 {
    margin: 3rem;
  }
  &-4 {
    margin: 4rem;
  }
  &-5 {
    margin: 5rem;
  }
  &-6 {
    margin: 6rem;
  }
  &-7 {
    margin: 7rem;
  }
  &-8 {
    margin: 8rem;
  }
  &-9 {
    margin: 9rem;
  }
  &-10 {
    margin: 10rem;
  }
  &x {
    &-1 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &-2 {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    &-3 {
      margin-left: 3rem;
      margin-right: 3rem;
    }
    &-4 {
      margin-left: 4rem;
      margin-right: 4rem;
    }
    &-5 {
      margin-left: 5rem;
      margin-right: 5rem;
    }
    &-6 {
      margin-left: 6rem;
      margin-right: 6rem;
    }
    &-7 {
      margin-left: 7rem;
      margin-right: 7rem;
    }
    &-8 {
      margin-left: 8rem;
      margin-right: 8rem;
    }
    &-9 {
      margin-left: 9rem;
      margin-right: 9rem;
    }
    &-10 {
      margin-left: 10rem;
      margin-right: 10rem;
    }
  }
  &y {
    &-1 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &-2 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &-3 {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    &-4 {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
    &-5 {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
    &-6 {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }
    &-7 {
      margin-top: 7rem;
      margin-bottom: 7rem;
    }
    &-8 {
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
    &-9 {
      margin-top: 9rem;
      margin-bottom: 9rem;
    }
    &-10 {
      margin-top: 10rem;
      margin-bottom: 10rem;
    }
  }

  &t {
    &-1 {
      margin-top: 1rem;
    }
    &-2 {
      margin-top: 2rem;
    }
    &-3 {
      margin-top: 3rem;
    }
    &-4 {
      margin-top: 4rem;
    }
    &-5 {
      margin-top: 5rem;
    }
    &-6 {
      margin-top: 6rem;
    }
    &-7 {
      margin-top: 7rem;
    }
    &-8 {
      margin-top: 8rem;
    }
    &-9 {
      margin-top: 9rem;
    }
    &-10 {
      margin-top: 10rem;
    }
  }
  &b {
    &-1 {
      margin-bottom: 1rem;
    }
    &-2 {
      margin-bottom: 2rem;
    }
    &-3 {
      margin-bottom: 3rem;
    }
    &-4 {
      margin-bottom: 4rem;
    }
    &-5 {
      margin-bottom: 5rem;
    }
    &-6 {
      margin-bottom: 6rem;
    }
    &-7 {
      margin-bottom: 7rem;
    }
    &-8 {
      margin-bottom: 8rem;
    }
    &-9 {
      margin-bottom: 9rem;
    }
    &-10 {
      margin-bottom: 10rem;
    }
  }
  &l {
    &-1 {
      margin-left: 1rem;
    }
    &-2 {
      margin-left: 2rem;
    }
    &-3 {
      margin-left: 3rem;
    }
    &-4 {
      margin-left: 4rem;
    }
    &-5 {
      margin-left: 5rem;
    }
    &-6 {
      margin-left: 6rem;
    }
    &-7 {
      margin-left: 7rem;
    }
    &-8 {
      margin-left: 8rem;
    }
    &-9 {
      margin-left: 9rem;
    }
    &-10 {
      margin-left: 10rem;
    }
  }
  &r {
    &-1 {
      margin-right: 1rem;
    }
    &-2 {
      margin-right: 2rem;
    }
    &-3 {
      margin-right: 3rem;
    }
    &-4 {
      margin-right: 4rem;
    }
    &-5 {
      margin-right: 5rem;
    }
    &-6 {
      margin-right: 6rem;
    }
    &-7 {
      margin-right: 7rem;
    }
    &-8 {
      margin-right: 8rem;
    }
    &-9 {
      margin-right: 9rem;
    }
    &-10 {
      margin-right: 10rem;
    }
  }
}
