.p {
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &-4 {
    padding: 4rem;
  }
  &-5 {
    padding: 5rem;
  }
  &-6 {
    padding: 6rem;
  }
  &-7 {
    padding: 7rem;
  }
  &-8 {
    padding: 8rem;
  }
  &-9 {
    padding: 9rem;
  }
  &-10 {
    padding: 10rem;
  }
  &x {
    &-1 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &-2 {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    &-3 {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    &-4 {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    &-5 {
      padding-left: 5rem;
      padding-right: 5rem;
    }
    &-6 {
      padding-left: 6rem;
      padding-right: 6rem;
    }
    &-7 {
      padding-left: 7rem;
      padding-right: 7rem;
    }
    &-8 {
      padding-left: 8rem;
      padding-right: 8rem;
    }
    &-9 {
      padding-left: 9rem;
      padding-right: 9rem;
    }
    &-10 {
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }

  &y {
    &-1 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &-2 {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    &-3 {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    &-4 {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    &-5 {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
    &-6 {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
    &-7 {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
    &-8 {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
    &-9 {
      padding-top: 9rem;
      padding-bottom: 9rem;
    }
    &-10 {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }
  &t {
    &-1 {
      padding-top: 1rem;
    }
    &-2 {
      padding-top: 2rem;
    }
    &-3 {
      padding-top: 3rem;
    }
    &-4 {
      padding-top: 4rem;
    }
    &-5 {
      padding-top: 5rem;
    }
    &-6 {
      padding-top: 6rem;
    }
    &-7 {
      padding-top: 7rem;
    }
    &-8 {
      padding-top: 8rem;
    }
    &-9 {
      padding-top: 9rem;
    }
    &-10 {
      padding-top: 10rem;
    }
  }
  &b {
    &-1 {
      padding-bottom: 1rem;
    }
    &-2 {
      padding-bottom: 2rem;
    }
    &-3 {
      padding-bottom: 3rem;
    }
    &-4 {
      padding-bottom: 4rem;
    }
    &-5 {
      padding-bottom: 5rem;
    }
    &-6 {
      padding-bottom: 6rem;
    }
    &-7 {
      padding-bottom: 7rem;
    }
    &-8 {
      padding-bottom: 8rem;
    }
    &-9 {
      padding-bottom: 9rem;
    }
    &-10 {
      padding-bottom: 10rem;
    }
  }
}
