@import '../variables';

@each $c in $color-name {
  $i: index($color-name, $c);
  .text-#{$c} {
    color: nth($color-var, $i);
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
