// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}

// Set background & text color
@mixin set-color($color) {
  background-color: $color;
  color: set-text-color($color);
}

// Set borerd & text color
@mixin set-border-text-color($color) {
  border-color: $color;
  color: $color;
}
