@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './variables/colors';
@import './variables/font-family';

$primary-color: $blue-dark-4;
$secondary-color: $blue-grey-light-2;
$success-color: $green-dark-2;
$info-color: $blue-dark-1;
$warning-color: $orange-dark-2;
$danger-color: $red-dark-3;
$dark-color: $grey-dark-5;
$light-color: $grey-light-5;
$spezial-color: $yellow-dark-2;

$color-name: (primary secondary success info warning danger dark light spezial);
$color-var: (
  $primary-color $secondary-color $success-color $info-color $warning-color $danger-color $dark-color $light-color $spezial-color
);

$sans-serif-font-family: 'Roboto',$sans-serif-1;
$serif-font-family: $serif-1;
$monospace-font-family: $monospace-1;
$cursive-font-family: $cursive-1;
$fantasy-font-family: $fantasy-1;
