@import 'main';

/* No scrollbar  */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

body {
  background-color: #f4f4f4;
}

input,
select {
  display: block;
  width: 100%;
  background-color: #fdfdfd;
  padding: 1rem 1rem;
  border: $grey-light-1 solid 1px;
  border-radius: 5px;
  margin-right: 3px;
  &:focus {
    outline: none;
    border: $grey-light-1 solid 1px;
  }
}

input {
  padding-left: 1.4rem;
  padding-right: 0.5rem;
}
footer {
  .flex-container {
    flex-wrap: nowrap;
  }
  img {
    background-color: $grey-light-5;
    height: 80px;
    object-fit: contain;
    margin: auto;
  }

  p {
    span {
      font-size: 2.2rem;
    }
  }

  small {
    img {
      height: 2rem;
      width: auto;
    }
  }

  .fhgr {
    // margin: auto;
    min-width: 160px;
    text-align: right;
  }
}

.spinner-container {
  height: 100%;
  width: 100%;
}

.btn {
  border-radius: 5px;
}

.serif {
  font-family: serif;
}

/* ########################### */
/* Navbar */
/* ########################### */
.hero {
  position: sticky;
  top: 0;
  z-index: 1100;
  .container-l {
    img {
      height: 50px;
      object-fit: contain;
      margin-top: auto;
      margin-bottom: auto;
    }

    h1 {
      margin-bottom: 0;
    }

    nav {
      margin-top: auto;
    }
    ul {
      width: 100%;
      height: 100%;
      li {
        margin: auto;
        margin-left: 1rem;
        .nav-link {
          font-size: 1.8rem;
          padding: 0.8rem 1.5rem;
          display: block;
          &.active,
          &:hover {
            color: $grey-dark-1;
          }
          &.active {
            color: $spezial-color;
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}

/* ########################### */
/* Landing page */
/* ########################### */
.landing-content {
  flex-direction: column;
  background: url(../assets/fuerstenwald2.jpg) no-repeat center center/cover;
  position: relative;
  width: 100vw;
  height: calc(80vh - 77.6px);
  padding: 0 5rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
  }

  div {
    z-index: 3;
  }

  .title-container {
    h1 {
      font-size: 6rem;
    }
    h2 {
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
    }
    h3 {
      font-size: 3rem;
    }
  }
}

/* ########################### */
/* Infos */
/* ########################### */
.info-container {
  min-height: calc(100vh - 188px);
  h1,
  h2,
  h3,
  h4 {
    margin-left: 0;
  }
  select {
    width: 20rem;
  }
  img {
    width: 50rem;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

/* ########################### */
/* Map */
/* ########################### */
.map-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 77.6px);
  display: grid;
  grid-template-columns: 40rem auto;

  .map-info {
    grid-column: 1;
  }

  .menu-container {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .infos-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    form {
      width: 100%;
      > div {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    // span {
    //   font-weight: bold;
    // }
    label {
      display: block;
      width: 100%;
      text-align: start;
    }

    #time-label {
      position: relative;
      &::after {
        content: 'min';
        position: absolute;
        top: 3.6rem;
        right: 3rem;
      }
    }

    .score-container {
      width: 100%;
      flex-direction: column;
    }
  }

  .leaflet-container {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

/* ########################### */
/* Popup */
/* ########################### */
.info-popup {
  background-color: #eee;
  padding: 2rem;
  border: $grey-dark-1 solid 2px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
}
