/* --------------------------- */
/* Height */
/* --------------------------- */
@media screen and (max-height: 700px) {
  /* ########################### */
  /* Landing page */
  /* ########################### */
  .landing-content {
    .title-container {
      margin-top: 2rem;
    }
  }
}

@media screen and (max-height: 625px) {
  /* ########################### */
  /* Landing page */
  /* ########################### */
  .landing-content {
    .title-container {
      margin-top: 2.5rem;
    }
  }
}

/* --------------------------- */
/* Width */
/* --------------------------- */
@media screen and (max-width: 1440px) {
  .container-l {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 1100px) {
  /* ########################### */
  /* Landing page */
  /* ########################### */
  .landing-content {
    .title-container {
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 2.8rem;
      }
      p {
        font-size: 1.8rem;
      }
      h3 {
        font-size: 2.2rem;
      }
    }
  }

  /* ########################### */
  /* Infos */
  /* ########################### */
  .info-container {
    img {
      width: 30rem;
    }
  }

  /* ########################### */
  /* Map */
  /* ########################### */
  .map-container {
    grid-template-columns: 33rem auto;
  }
}

@media screen and (max-width: 800px) {
 /* ########################### */
  /* Infos */
  /* ########################### */
  .info-container {
    img {
      margin-top: 2rem;
      width: 50rem;
    }
    .flex-container {
    flex-wrap: wrap;
  }
  }


  /* ########################### */
  /* Map */
  /* ########################### */
  .map-container {
    grid-template-columns: 28rem auto;
  }
}

@media screen and (max-width: 700px) {
  footer {
    img{
      height: 50px;
    }
    .fhgr {
      min-width: 100px;
    }
  }

  /* ########################### */
  /* Map */
  /* ########################### */
  .map-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 80vh;
    .infos-container {
      .score-container {
        flex-direction: row;
        justify-content: space-around;
        p {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
footer {
  p {
    font-size: 1.4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    span {
      font-size: 1.8rem;
    }
  }
  small {
    font-size: 1.1rem;
  }
}

  /* ########################### */
  /* Landing page */
  /* ########################### */
  .landing-content {
    .title-container {
      h1 {
        font-size: 3.2rem;
      }
      h2 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1.6rem;
      }
      h3 {
        font-size: 2rem;
      }
    }
  }

  /* ########################### */
  /* Infos */
  /* ########################### */
  .info-container {
    img {
      
      width: 100%;
    }
  }
}


@media screen and (max-width: 500px) {
  /* ########################### */
  /* Navbar */
  /* ########################### */
  .hero{
    .container-l {
      flex-direction: column;
      div:first-child {
        justify-content: center;
      }
      h1 {
        margin: 0.5rem;
      }
      img {
        height: 40px;
      }
      ul {
        li {
          .nav-link {
            padding-top: 0;
            padding-bottom: 0.6rem;
          }
        }
      }
    }
  }

  /* ########################### */
  /* Landing page */
  /* ########################### */

  .landing-content {
    height: calc(100vh - 117.2px);
  }
}

@media screen and (max-width: 325px) {
  footer {
    img{
      height: 30px;
    }
    .fhgr {
      min-width: 60px;
    }
  }

  /* ########################### */
  /* Navbar */
  /* ########################### */
  .hero{
    .container-l {
      flex-direction: column;
      div:first-child {
        justify-content: center;
      }
      h1 {
        margin: 0.1rem;
      }
      img {
        height: 30px;
      }

      ul {
        li{
          .nav-link {
            padding-top: 1;
            padding-bottom: 1;
            &.active {
              font-size: 2;
            }
          }
        }
      }
    }
  }

  /* ########################### */
  /* Landing page */
  /* ########################### */
  .landing-content {
    height: calc(100vh - 110.8px);
    .title-container {
      line-height: 1.2;
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.6rem;
      }
      h3 {
        font-size: 1.8rem;
      }
    }
  }
}