$red: #F44336;
$red-light-5: #FFEBEE;
$red-light-4: #FFCDD2;
$red-light-3: #EF9A9A;
$red-light-2: #E57373;
$red-light-1: #EF5350;
$red-dark-1: #E53935;
$red-dark-2: #D32F2F;
$red-dark-3: #C62828;
$red-dark-4: #B71C1C;
$red-accent-1: #FF8A80;
$red-accent-2: #FF5252;
$red-accent-3: #FF1744;
$red-accent-4: #D50000;

$pink: #E91E63;
$pink-light-5: #FCE4EC;
$pink-light-4: #F8BBD0;
$pink-light-3: #F48FB1;
$pink-light-2: #F06292;
$pink-light-1: #EC407A;
$pink-dark-1: #D81B60;
$pink-dark-2: #C2185B;
$pink-dark-3: #AD1457;
$pink-dark-4: #880E4F;
$pink-accent-1: #FF80AB;
$pink-accent-2: #FF4081;
$pink-accent-3: #F50057;
$pink-accent-4: #C51162;

$purple: #9C27B0;
$purple-light-5: #F3E5F5;
$purple-light-4: #E1BEE7;
$purple-light-3: #CE93D8;
$purple-light-2: #BA68C8;
$purple-light-1: #AB47BC;
$purple-dark-1: #8E24AA;
$purple-dark-2: #7B1FA2;
$purple-dark-3: #6A1B9A;
$purple-dark-4: #4A148C;
$purple-accent-1: #EA80FC;
$purple-accent-2: #E040FB;
$purple-accent-3: #D500F9;
$purple-accent-4: #AA00FF;

$deep-purple: #673AB7;
$deep-purple-light-5: #EDE7F6;
$deep-purple-light-4: #D1C4E9;
$deep-purple-light-3: #B39DDB;
$deep-purple-light-2: #9575CD;
$deep-purple-light-1: #7E57C2;
$deep-purple-dark-1: #5E35B1;
$deep-purple-dark-2: #512DA8;
$deep-purple-dark-3: #4527A0;
$deep-purple-dark-4: #311B92;
$deep-purple-accent-1: #B388FF;
$deep-purple-accent-2: #7C4DFF;
$deep-purple-accent-3: #651FFF;
$deep-purple-accent-4: #6200EA;

$indigo: #3F51B5;
$indigo-light-5: #E8EAF6;
$indigo-light-4: #C5CAE9;
$indigo-light-3: #9FA8DA;
$indigo-light-2: #7986CB;
$indigo-light-1: #5C6BC0;
$indigo-dark-1: #3949AB;
$indigo-dark-2: #303F9F;
$indigo-dark-3: #283593;
$indigo-dark-4: #1A237E;
$indigo-accent-1: #8C9EFF;
$indigo-accent-2: #536DFE;
$indigo-accent-3: #3D5AFE;
$indigo-accent-4: #304FFE;

$blue: #2196F3;
$blue-light-5: #E3F2FD;
$blue-light-4: #BBDEFB;
$blue-light-3: #90CAF9;
$blue-light-2: #64B5F6;
$blue-light-1: #42A5F5;
$blue-dark-1: #1E88E5;
$blue-dark-2: #1976D2;
$blue-dark-3: #1565C0;
$blue-dark-4: #0D47A1;
$blue-accent-1: #82B1FF;
$blue-accent-2: #448AFF;
$blue-accent-3: #2979FF;
$blue-accent-4: #2962FF;

$light-blue: #03A9F4;
$light-blue-light-5: #E1F5FE;
$light-blue-light-4: #B3E5FC;
$light-blue-light-3: #81D4FA;
$light-blue-light-2: #4FC3F7;
$light-blue-light-1: #29B6F6;
$light-blue-dark-1: #039BE5;
$light-blue-dark-2: #0288D1;
$light-blue-dark-3: #0277BD;
$light-blue-dark-4: #01579B;
$light-blue-accent-1: #80D8FF;
$light-blue-accent-2: #40C4FF;
$light-blue-accent-3: #00B0FF;
$light-blue-accent-4: #0091EA;

$cyan: #00BCD4;
$cyan-light-5: #E0F7FA;
$cyan-light-4: #B2EBF2;
$cyan-light-3: #80DEEA;
$cyan-light-2: #4DD0E1;
$cyan-light-1: #26C6DA;
$cyan-dark-1: #00ACC1;
$cyan-dark-2: #0097A7;
$cyan-dark-3: #00838F;
$cyan-dark-4: #006064;
$cyan-accent-1: #84FFFF;
$cyan-accent-2: #18FFFF;
$cyan-accent-3: #00E5FF;
$cyan-accent-4: #00B8D4;

$teal: #009688;
$teal-light-5: #E0F2F1;
$teal-light-4: #B2DFDB;
$teal-light-3: #80CBC4;
$teal-light-2: #4DB6AC;
$teal-light-1: #26A69A;
$teal-dark-1: #00897B;
$teal-dark-2: #00796B;
$teal-dark-3: #00695C;
$teal-dark-4: #004D40;
$teal-accent-1: #A7FFEB;
$teal-accent-2: #64FFDA;
$teal-accent-3: #1DE9B6;
$teal-accent-4: #00BFA5;

$green: #4CAF50;
$green-light-5: #E8F5E9;
$green-light-4: #C8E6C9;
$green-light-3: #A5D6A7;
$green-light-2: #81C784;
$green-light-1: #66BB6A;
$green-dark-1: #43A047;
$green-dark-2: #388E3C;
$green-dark-3: #2E7D32;
$green-dark-4: #1B5E20;
$green-accent-1: #B9F6CA;
$green-accent-2: #69F0AE;
$green-accent-3: #00E676;
$green-accent-4: #00C853;

$light-green: #8BC34A;
$light-green-light-5: #F1F8E9;
$light-green-light-4: #DCEDC8;
$light-green-light-3: #C5E1A5;
$light-green-light-2: #AED581;
$light-green-light-1: #9CCC65;
$light-green-dark-1: #7CB342;
$light-green-dark-2: #689F38;
$light-green-dark-3: #558B2F;
$light-green-dark-4: #33691E;
$light-green-accent-1: #CCFF90;
$light-green-accent-2: #B2FF59;
$light-green-accent-3: #76FF03;
$light-green-accent-4: #64DD17;

$lime: #CDDC39;
$lime-light-5: #F9FBE7;
$lime-light-4: #F0F4C3;
$lime-light-3: #E6EE9C;
$lime-light-2: #DCE775;
$lime-light-1: #D4E157;
$lime-dark-1: #C0CA33;
$lime-dark-2: #AFB42B;
$lime-dark-3: #9E9D24;
$lime-dark-4: #827717;
$lime-accent-1: #F4FF81;
$lime-accent-2: #EEFF41;
$lime-accent-3: #C6FF00;
$lime-accent-4: #AEEA00;

$yellow: #FFEB3B;
$yellow-light-5: #FFFDE7;
$yellow-light-4: #FFF9C4;
$yellow-light-3: #FFF59D;
$yellow-light-2: #FFF176;
$yellow-light-1: #FFEE58;
$yellow-dark-1: #FDD835;
$yellow-dark-2: #FBC02D;
$yellow-dark-3: #F9A825;
$yellow-dark-4: #F57F17;
$yellow-accent-1: #FFFF8D;
$yellow-accent-2: #FFFF00;
$yellow-accent-3: #FFEA00;
$yellow-accent-4: #FFD600;

$amber: #FFC107;
$amber-light-5: #FFF8E1;
$amber-light-4: #FFECB3;
$amber-light-3: #FFE082;
$amber-light-2: #FFD54F;
$amber-light-1: #FFCA28;
$amber-dark-1: #FFB300;
$amber-dark-2: #FFA000;
$amber-dark-3: #FF8F00;
$amber-dark-4: #FF6F00;
$amber-accent-1: #FFE57F;
$amber-accent-2: #FFD740;
$amber-accent-3: #FFC400;
$amber-accent-4: #FFAB00;

$orange: #FF9800;
$orange-light-5: #FFF3E0;
$orange-light-4: #FFE0B2;
$orange-light-3: #FFCC80;
$orange-light-2: #FFB74D;
$orange-light-1: #FFA726;
$orange-dark-1: #FB8C00;
$orange-dark-2: #F57C00;
$orange-dark-3: #EF6C00;
$orange-dark-4: #E65100;
$orange-accent-1: #FFD180;
$orange-accent-2: #FFAB40;
$orange-accent-3: #FF9100;
$orange-accent-4: #FF6D00;

$deep-orange: #FF5722;
$deep-orange-light-5: #FBE9E7;
$deep-orange-light-4: #FFCCBC;
$deep-orange-light-3: #FFAB91;
$deep-orange-light-2: #FF8A65;
$deep-orange-light-1: #FF7043;
$deep-orange-dark-1: #F4511E;
$deep-orange-dark-2: #E64A19;
$deep-orange-dark-3: #D84315;
$deep-orange-dark-4: #BF360C;
$deep-orange-accent-1: #FF9E80;
$deep-orange-accent-2: #FF6E40;
$deep-orange-accent-3: #FF3D00;
$deep-orange-accent-4: #DD2C00;

$brown: #795548;
$brown-light-5: #EFEBE9;
$brown-light-4: #D7CCC8;
$brown-light-3: #BCAAA4;
$brown-light-2: #A1887F;
$brown-light-1: #8D6E63;
$brown-dark-1: #6D4C41;
$brown-dark-2: #5D4037;
$brown-dark-3: #4E342E;
$brown-dark-4: #3E2723;

$blue-grey: #607D8B;
$blue-grey-light-5: #ECEFF1;
$blue-grey-light-4: #CFD8DC;
$blue-grey-light-3: #B0BEC5;
$blue-grey-light-2: #90A4AE;
$blue-grey-light-1: #78909C;
$blue-grey-dark-1: #546E7A;
$blue-grey-dark-2: #455A64;
$blue-grey-dark-3: #37474F;
$blue-grey-dark-4: #263238;

$grey: #9E9E9E;
$grey-light-5: #FAFAFA;
$grey-light-4: #F5F5F5;
$grey-light-3: #EEEEEE;
$grey-light-2: #E0E0E0;
$grey-light-1: #BDBDBD;
$grey-dark-1: #898989;
$grey-dark-2: #757575;
$grey-dark-3: #616161;
$grey-dark-4: #424242;
$grey-dark-5: #212121;

$white: #FFFFFF;
$black: #000000;